

.navbar{
    padding: 0px 90px;    
}
section{
    border: solid gainsboro;
    
}

.header{
    display: flex;
    overflow: hidden;
    padding: 0px 80px;
    margin-left: 50px;
  border: 2px solid silver;   
   
}
.heading{
    font-size: 40px;
}
.header-info{
    height: 270px;
width: 582px;
left: 120px;
top: 285px;
border-radius: 41px;
margin-top: 80px;
margin-bottom: 80px;
}

.img:hover.img{
    
    border-radius: 90px;
    padding-left: 50px;
    transform: scale(.9) rotate(360deg);
    transition: transform 4s ease-in-out;
}
/* span  */
.pree-use-icon{
    background-color: indigo;
    height: 44px;
    width: 196px;
    left: 120px;
    border-radius: 41px;
    padding: 10px, 24px, 10px, 24px;
    font-size: 20px;
    color:ivory;
    height: 24px;
    margin-right: 20px;
}
 /* span  */



.collection{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
font-family: 'Cormorant', serif;
font-family: 'Crimson Pro', serif;
font-family: 'EB Garamond', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;
}
.container{
    overflow: hidden;
}

/* product-info  */

.pro-img{
    width: 300px ; 
    height: 255px;
}
.price{
    font-size: 20px;
}

.info{
    display: flex;
    align-items: center;
    
}
span{
    padding-left: 15px;
}
.fa-star{
    color: #FB8200;
}
.empty{
    color: #FB8200;
}
.productSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 80px;
}
.productCard{
    padding: 16px;
    margin-top: 16px;
    background: #FFFFFF;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    box-shadow: 5px 5px 9px -3px grey;
}
.details{
    color: crimson;
  font-size: 20px;
  float: right;
  padding-right: 50px;
}
footer{
    margin-top: 90px;
    text-align: center;
    background-color: rebeccapurple;
    border-radius: 16px;
    height: 150px;

}
/* media queries  */
/* mob-dev  */
@media only screen and(max-width:576px)  {
    /* .body{
        grid-template-columns: repeat(1, 1fr);
    } */
    .productSection{
      
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 10px;
    }

    
}